#-video=ntsc # supported video modes: ntsc, pal, 480p
-device=ata # supported modes: ata, mx4sio, udpfs, usb, ilink, mmce, hdl. If not present or commented out, all devices will be used to search for ISO files
-device=mmce # multiple modes are supported via multiple mode strings
#-ip_addr=192.168.1.6 # PS2 IP address for UDPBD mode (commented out)
# Optional: path to Neutrino ELF (e.g. -neutrino=mass0:/neutrino/neutrino.elf)
